<li id="comment<%=comment.id%>">
	<p class="comment-content"><%= comment.content %></p>
	<p class="comment-user">
		<small>
			By <%= comment.user.email %> at <%= comment.created_at.to_date %>
       </small>
   </p>
			<p class="comment-likes">
				<small>
		    <span class="like-status">
		 
			<%= link_to comment.current_like_status_string(current_user).html_safe, like_toggle_path(parent_type: "Comment", parent_id: comment.id), method: :get, remote: true %>

		</span>
		
		<span class="like-count"><%= comment.likes.length %></span>
	    
			<% if current_user == comment.user %>
			<%= link_to "Delete", comment_destroy_path(comment.id),  :method => 'delete' ,remote: true %>
			<% end %>  
		</small>
	   </p>
	<div class ="comment-comments-container">
	              <ul class="ccomment" >
		          <% comment.comments.reverse.each do |cm| %>
	               
	              
	               <%= render 'comments/comment', comment: cm %>
	               
	               <% end %>
	               
	            </ul>
	            </div>
	         
             <% if comment.parent_type == 'Post' %>
				
				 	
	            <%= form_for @comment,url: comments_path, method: :post, remote: true do |f| %>
	               <input type="hidden" name="comment[parent_type]" value="Comment">
	               <input type="hidden" name="comment[parent_id]" value="<%=comment.id %>">
	               <%= f.label :content, "reply" %>
	               <%= f.text_field :content %>
	               <%= f.submit %>

	               <%end%>
	               <%end%>
</li>